header {
    background-color: f9f9f9;
    box-shadow: 0px 0px 5.88px 0.12px rgba(19, 19, 19, 0.15);
    z-index: 25;
    position: relative;
}

header nav.navbar {
    padding: 1em 0;
}

#logo {
    color: #375278;
    height: 40px;
    width: auto
}

body {
    font-family: "Raleway", sans-serif;
}

#menus .nav-item {
    margin-left: 1em;
    margin-right: 1em;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 700;
}

#menus .nav-item:last-child {
    margin-right: 0;
}

#menus .btn {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn {
    background-color: #375278;
    border-color: #375278;
}

.btn:focus {
    box-shadow: none;
}


/* SLIDER */

#slider-wrapper {
    position: relative;
}

#slider-wrapper .mySlides {
    display: none;
    height: 500px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 10;
}

#slider-wrapper img {
    vertical-align: middle;
}


/* Slideshow container */

#slider-wrapper .slideshow-container {
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

#slider-wrapper .prev,
#slider-wrapper .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}


/* Position the "next button" to the right */

#slider-wrapper .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

#slider-wrapper .prev:hover,
#slider-wrapper .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

#slider-wrapper .text {
    color: #393939;
    padding: 0 2em;
    padding-top: 5em;
    max-width: 50%;
}

#slider-wrapper .text>* {
    margin-bottom: 18px;
}

#slider-wrapper .text h1 {
    font-weight: 900;
    font-size: 54px;
}

#slider-wrapper .text h5 {
    background-color: #393939;
    color: #f9f9f9;
    font-weight: 800;
    padding: 8px 16px;
    border-radius: 5px;
}

#slider-wrapper .text p {
    font-weight: 700;
}

#slider-wrapper .text h5::first-letter {
    color: #3498db;
}

.aright {
    font-size: 26px;
    padding: 0.4em;
    border: solid 2px currentColor;
    border-radius: 50px;
}

.cta {
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
}

.cta:hover {
    cursor: pointer;
}

.cta *:first-child {
    margin-right: 0.5em;
}

.word {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}


/* Number text (1/3 etc) */

#slider-wrapper .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

#slider-wrapper .dot {
    cursor: pointer;
    height: 15px;
    width: 60px;
    border: solid 2px #f9f9f9;
    margin: 0 2px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#slider-wrapper .active,
#slider-wrapper .dot:hover {
    background-color: #f9f9f9;
}


/* Fading animation */

#slider-wrapper .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    #slider-wrapper .prev,
    #slider-wrapper .next,
    #slider-wrapper .text {
        font-size: 11px
    }
}